body{
  background-color: #4f4f4f;
}

.main-box {
  background-color: white;
  width: 899px;
  height: 900px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.photo-box {
  cursor: pointer;
  height: 150px;
  width: 100px;
  background-image: url("../images/IMG_8951.JPG");
}

.name-box {
  background-color: #A8034A;
  color: white;
  cursor: pointer;
  height: 150px;
  width: 310px;
  font-family: "Muli", sans-serif;
  span {
    font-size: 30px;
  }
}

.school-box {
  background-color: #259fd3;
  cursor: pointer;
  height: 150px;
  width: 100px;
  &:hover {
    background-color: white;
  }
}

.fa-align-justify {
  margin-left: 35px;
  margin-top: 45px;
  color: white;
  &:hover {
    color: grey;
  }
}

.job-box {
  background-color: #dacfe0;
  cursor: pointer;
  height: 150px;
  width: 100px;
  &:hover {
    background-color: white;
  }
}

.fa-briefcase {
  margin-left: 35px;
  margin-top: 45px;
  color: white;
  &:hover {
    color: grey;
  }
}


.contact-box {
  background-color: #6C576A;
  cursor: pointer;
  height: 150px;
  width: 100px;
  &:hover {
    background-color: white;
  }
}

.fa-envelope {
  margin-left: 35px;
  margin-top: 45px;
  color: white;
  &:hover {
    color: grey;
  }
}

.aboutme-text {
  font-family: "Muli", sans-serif;
  font-size: 17px;
  float: left;
  margin-left: 20px;
  margin-top: 50px;
}

.linkedin-box {
  background-color: #37659e;
  cursor: pointer;
  height: 150px;
  width: 100px;
  margin-left: 129.5px;
  float: right;
  &:hover {
    background-color: white;
  }
}

.fa-linkedin-square {
  margin-left: 35px;
  margin-top: 45px;
  color: white;
  &:hover {
    color: grey;
  }
}

.github-box {
  background-color: $black;
  cursor: pointer;
  height: 150px;
  width: 100px;
  &:hover {
    background-color: white;
  }
}

.fa-github {
  margin-left: 35px;
  margin-top: 45px;
  color: white;
  &:hover {
    color: grey;
  }
}

.empty-box{
  background-color: #C9635E;
  cursor: pointer;
  height: 150px;
  width: 100px;
  margin-left: 599px;
  &:hover {
    background-color: white;
  }
}

.success-box {
  background-color: #889F4F;
  cursor: pointer;
  height: 150px;
  width: 100px;
  &:hover {
    background-color: white;
  }
}



footer {
  color: #616468;
  margin-bottom: 20px;
  margin-top: 200px;
  font-family: "Muli", sans-serif;
  margin-left: 350px;
  font-size: 20px;
}

.blue-cirlce-footer {
  width: 80px;
  height: 80px;
  background-color: #50C0E9;
  margin-bottom: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.fa-mobile {
  color: white;
  margin-left: 25px;
  margin-top: 10px;
}

.phone-footer {
  margin-left: -8px;
}

.blue-line-footer {
  width: 100px;
  height: 1px;
  background-color: #50C0E9;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mail-footer {
  cursor: pointer;
  margin-left: -60px;
  &:hover {
    color: black;
  }
}